test/
.devcontainer/
.vscode/
TFlite/build/
TFlite/.vscode/
TFlite/sdkconfig
TFlite/sdkconfig.old
ESP-DL/*/Test.pkl
ESP-Dl/*/Calibration.pkl
ESP-Dl/*/build/
ESP-Dl/*/.vscode/
ESP-Dl/*/sdkconfig
ESP-Dl/*/sdkconfig.old
ESP-Dl/*/put_my_content_on_sdcard/
ESP-Dl/*/__pycache__/
ESP-Dl/*/*.pkl
