menu "Model config"

    config PREPROCESS
        bool "Apply preprocess"
        default y
        help
            Apply preprocess on image before sending to model.
    config INFERENCE_LOG
        bool "Show logs"
        default n
        help
            show latency and model result log. 
    config INSTANCE_NUMBER
        int "Number of Instances to run benchmark"
        default -1
        help
            -1 means all of datas and to set any limit simply just change it
endmenu
